<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vendecar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.vendecar">
        <activity android:name="com.example.vendecar.ui.DeleteCarActivity"
            android:parentActivityName="com.example.vendecar.ui.CarListActivity"/>
        <activity
            android:name="com.example.vendecar.ui.AddEditCarActivity"
            android:parentActivityName="com.example.vendecar.ui.CarListActivity" />
        <activity android:name="com.example.vendecar.ui.MyPreferences" />
        <activity
            android:name="com.example.vendecar.ui.CarListActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.example.vendecar.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>